.btn-pizza{
    color:white;
    background-color:rgb(255, 187, 0);
    border: 1px solid rgb(255, 187, 0);
}
.btn-pizza:hover{
    color:white;
    background-color:rgb(243, 167, 2);
    border: 1px solid rgb(255, 187, 0);
}
.btn-pizza:focus{
    outline:none;
    box-shadow: none;
}
.btn-outline-pizza{
    color:rgb(255, 187, 0);
    border:1px solid rgb(255, 187, 0);
}
.btn-outline-pizza:hover{
    color:white;
    background-color:rgb(255, 187, 0);
    border: 1px solid rgb(255, 187, 0);
}
.btn-outline-pizza:focus{
    outline:none;
    box-shadow: none;
}